#insert{
	width:30%;
	height:600px;
	float:left;
	overflow-x:hidden;
	overflow-y:scroll;
}
#show{
	width:70%;
	height:600px;
	float:left;
	overflow-x:hidden;
	overflow-y:scroll;
}
#insert tr td {
	border:1px solid;
}
#show tr td {
	border:1px solid;
}